trunk/gql4jung/docs/spec/querysamples/query1.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="query">
    <xs:complexType>
      <xs:sequence>
        <xs:element name="vertex" maxOccurs="unbounded" >
          <xs:complexType>
            <xs:sequence>
              <xs:element name="property" maxOccurs="unbounded" >
                <xs:complexType>
                  <xs:attribute name="key" type="xs:string" use="required" />
                  <xs:attribute name="value" type="xs:string" use="required" />
                </xs:complexType>
              </xs:element>
            </xs:sequence>
            <xs:attribute name="id" type="xs:string" use="required" />
            <xs:attribute name="type" type="xs:string" use="optional" />
          </xs:complexType>
        </xs:element>
        <xs:element name="path" maxOccurs="unbounded" >
          <xs:complexType>
            <xs:sequence>
              <xs:element name="property" minOccurs="0" >
                <xs:complexType>
                  <xs:attribute name="key" type="xs:string" use="required" />
                  <xs:attribute name="value" type="xs:string" use="required" />
                </xs:complexType>
              </xs:element>
              <xs:element name="or" minOccurs="0" >
                <xs:complexType>
                  <xs:sequence>
                    <xs:element maxOccurs="unbounded" name="property">
                      <xs:complexType>
                        <xs:attribute name="key" type="xs:string" use="required" />
                        <xs:attribute name="value" type="xs:string" use="required" />
                      </xs:complexType>
                    </xs:element>
                  </xs:sequence>
                </xs:complexType>
              </xs:element>
            </xs:sequence>
            <xs:attribute name="minLength" type="xs:positiveInteger" use="optional" />
            <xs:attribute name="maxLength" type="xs:positiveInteger" use="optional" />
            <xs:attribute name="from" type="xs:string" use="required" />
            <xs:attribute name="to" type="xs:string" use="required" />
          </xs:complexType>
        </xs:element>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>