trunk/gql4jung/docs/spec/querysamples/query4.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="query">
    <xs:complexType>
      <xs:sequence>
        <xs:element name="vertex" maxOccurs="unbounded" >
          <xs:complexType>
            <xs:sequence>
              <xs:element name="property">
                <xs:complexType>
                  <xs:attribute name="key" type="xs:string" use="required" />
                  <xs:attribute name="value" type="xs:string" use="required" />
                </xs:complexType>
              </xs:element>
            </xs:sequence>
            <xs:attribute name="id" type="xs:string" use="required" />
          </xs:complexType>
        </xs:element>
        <xs:element name="exists_not" maxOccurs="unbounded" >
          <xs:complexType>
            <xs:sequence>
              <xs:element name="vertex">
                <xs:complexType>
                  <xs:sequence>
                    <xs:element name="property">
                      <xs:complexType>
                        <xs:attribute name="key" type="xs:string" use="required" />
                        <xs:attribute name="value" type="xs:string" use="required" />
                      </xs:complexType>
                    </xs:element>
                  </xs:sequence>
                  <xs:attribute name="id" type="xs:string" use="required" />
                </xs:complexType>
              </xs:element>
            </xs:sequence>
          </xs:complexType>
        </xs:element>
        <xs:element name="condition" maxOccurs="unbounded" >
          <xs:complexType>
            <xs:sequence>
              <xs:element name="attribute" maxOccurs="unbounded" >
                <xs:complexType>
                  <xs:attribute name="vertex" type="xs:string" use="required" />
                  <xs:attribute name="key" type="xs:string" use="required" />
                </xs:complexType>
              </xs:element>
            </xs:sequence>
            <xs:attribute name="predicate" type="xs:string" use="required" />
          </xs:complexType>
        </xs:element>
        <xs:element name="not" maxOccurs="unbounded" >
          <xs:complexType>
            <xs:sequence>
              <xs:element name="condition">
                <xs:complexType>
                  <xs:sequence>
                    <xs:element name="attribute" maxOccurs="unbounded" >
                      <xs:complexType>
                        <xs:attribute name="vertex" type="xs:string" use="required" />
                        <xs:attribute name="key" type="xs:string" use="required" />
                      </xs:complexType>
                    </xs:element>
                  </xs:sequence>
                  <xs:attribute name="predicate" type="xs:string" use="required" />
                </xs:complexType>
              </xs:element>
            </xs:sequence>
          </xs:complexType>
        </xs:element>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>